.layout {
  display: flex;
}
.layout--container {
  padding: 15px;
  display: flex;
  margin: 0 auto;
  max-width: 600px;
}

.main--icon {
  color: var(--brand--color);
  font-size: 40px;
}

.main--container {
  padding: 20px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}
.main--title {
  font-weight: 700;
  width: 100%;
  font-family: 'TwitterChirpExtendedHeavy';
}
/* .main--title {
} */
.main--title__primary {
  margin: 38px 0;
}
.main--title__primary h1 {
  font-size: 38px;
  line-height: 1.2;
}

.main--title__secundary {
  margin-bottom: 19px;
}
.main--title__secundary h2 {
  font-size: 23px;
}

.main--buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.main--button {
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  font-size: 14px;
  font-weight: 700;
  border-radius: 30px;
  width: 100%;
  max-width: 300px;
  cursor: pointer;
}
.main--button:hover {
  box-shadow: 0 0 5px #d0cbcb8f;
  transition: .1s;
}
.main--button__white {
  border: 1px solid #d0cbcb8f;
  background-color: #fff;
}

.main--button__blue {
  background-color: var(--brand--color);
  color: #fff;
}
.main--button__icon {
  margin-right: 8px;
}
.main--button__google {
  margin-bottom: 15px;
}
.main--button__google > .main--button {
  color: #686868;
}
.main--button__icon-google  {
  width: 17px;
  height: 17px;
}
.main--button__icon-apple {
  font-size: 23px;
}
.main--button__divisor {
  width: 100%;
  max-width: 300px;
  height: 17px;
  display: flex;
  margin: 9px 0;
  align-items: center;
}
.main--button__divisor > div {
  width: 50%;
  height: 1px;
  background: rgb(239, 243, 244);
}
.main--button__divisor > span {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin: 0 4px;
}

.main--text {
  font-size: 13px;
  margin-bottom: 30px;
  color: #686868;
}
.main--text > a {
  color: var(--brand--color);
}
.main--question-login {
  font-size: 15px;
  text-align: start;
  width: 100%;
  padding: 20px 0 5px;
}
.main--button__text-blue {
  color: var(--brand--color);
}