.main {
  min-height: inherit;
}
.layout {
  display: flex;
  width: fit-content;
}
.layout--container {
  padding: 1.5rem;
  display: flex;
  margin: 0 auto;
  max-width: 60rem;
}

.main--icon {
  color: var(--brand--color);
  font-size: 4.2rem;
  display: flex;
  width: min-content;
  padding-bottom: 1.2rem;
}

.main--container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main--title {
  font-weight: 700;
  width: 100%;
  font-family: 'TwitterChirpExtendedHeavy';
}
/* .main--title {
} */
.main--title__primary {
  margin: 3.8rem 0;
}
.main--title__primary h1 {
  font-size: 4rem;
  line-height: 1.2;
}

.main--title__secundary {
  margin-bottom: 1.9rem;
}
.main--title__secundary h2 {
  font-size: 2.2rem;
}

.main--buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.main--button {
  height: 3.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  font-size: 1.4rem;
  font-weight: 700;
  border-radius: 3rem;
  width: 100%;
  max-width: 30rem;
  min-width: 30rem;
  cursor: pointer;
}
.main--button:hover {
  box-shadow: 0 0 5px #d0cbcb8f;
  transition: .1s;
}
.main--button__white {
  border: 1px solid rgba(83, 100, 113, 0.227);
  background-color: #fff;
}

.main--button__icon {
  margin-right: .8rem;
}
.main--button__google {
  margin-bottom: 1.5rem;
}
.main--button__google > .main--button {
  color: #686868;
}
.main--button__icon-google {
  display: flex;
}
.main--button__icon-google > img  {
  width: 1.7rem;
  height: 1.7rem;
}
.main--button__icon-apple {
  font-size: 2rem;
}
.main--button__divisor {
  width: 100%;
  max-width: 30rem;
  height: 2.7rem;
  display: flex;
  margin: .4rem 0;
  align-items: center;
}
.main--button__divisor > div {
  width: 50%;
  height: .1rem;
  background: rgb(239, 243, 244);
}
.main--button__divisor > span {
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
  margin: 0 .4rem;
}
.main--button__blue {
  background-color: var(--brand--color);
  color: #fff;
  text-overflow: ellipsis;
  margin-bottom: .8rem;
}

.main--text > p {
  font-size: 1.1rem;
  line-height: 1.2rem;
  margin-bottom: 15px;
  color: rgb(83, 100, 113);
  font-family: 'TwitterChirp';
  font-weight: 400;
  max-width: 30rem;
}
.main--text > p > a {
  color: var(--brand--color);
}
.main--section-login {
  font-size: 1.5rem;
  text-align: start;
  width: 100%;
  margin-top: 4rem;
  margin-bottom: .8rem;
}
.main--section-login__question {
  margin-bottom: 1.5rem;
}
.main--section-login__question > span {
  font-family: 'TwitterChirp';
  font-weight: 700;
  font-size: 1.7rem;
  line-height: 1.5;
}
.main--button__text-blue {
  color: var(--brand--color);
}

.main--background {
  width: 100%;
  background-image: url(https://abs.twimg.com/sticky/illustrations/lohp_1302x955.png);
  height: fit-content;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  place-content: center;
  padding: 3.2rem;
}

.main--icon__background {
  font-size: 22.3rem;
  color: #ffffff;
}

.footer {
  display: flex;
  justify-content: center;
}
.footer--nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 1.2rem 1.6rem;
}
.footer--nav--item {
  font-size: 1.3rem;
  font-family: 'Roboto', sans-serif;
  margin: .4rem 0;
  padding-right: 1.6rem;
  color: rgb(83, 100, 113);
}
.footer--nav > a:hover {
  text-decoration: underline;
}

@media (min-width: 500px) {
  .layout {
    margin: 0 auto;
  }
  .main--title__primary h1 {
    font-size: 6.3rem;
    line-height: 1.3;
  }
  .main--title__secundary h2 {
    font-size: 3.1rem;
    line-height: 2;
  }
  .main--text > p {
    margin-bottom: 2rem;
  }
}
@media (min-width: 1000px) {
  .layout {
    margin: 0;
  }
  .main {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
  .main--title__primary {
    margin: 5rem 0;
  }
  .main--background {
    width: 25%;
    height: initial;
  }
  .main--icon__background {
    font-size: 20rem;
  }

}
@media(min-width: 1230px) {
  .main--background {
    width: 45%;
  }
  .main--icon__background {
    font-size: 40rem;
  }
}